.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  padding: 10px;
}

.App-poweredby {
  height: 40px;
  padding: 5px;
}

.App-spinning {
  animation: App-item-spin infinite 1.5s linear;
}

.App-header {
  background-color: #19915E;
  height: 100px;
  padding: 10px;
  color: white; 
}

.App-header-logos {
  float: right;
}

.App-header-bannertext {
  float: left;
}

.App-header h2 {
  margin: 5px;
}

.App-intro {
  font-size: medium;
}

@keyframes App-item-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
