.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  padding: 10px;
}

.App-poweredby {
  height: 40px;
  padding: 5px;
}

.App-spinning {
  animation: App-item-spin infinite 1.5s linear;
}

.App-header {
  background-color: #19915E;
  /*height: 120px;*/
  padding: 10px;
  color: white; 
}

.App-header-logos {
  float: right;
}

.App-header-bannertext {
  float: left;
}

.App-header-developer {
  font-size: small;
  margin-top: 0;
  margin-bottom: 0;
}

.App-header a, a:link, a:active {
  text-decoration: none;
  color: white;
}

.App-header h2 {
  margin: 5px;
}

.App-intro {
  font-size: medium;
}

@keyframes App-item-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
